/* Estilos específicos para a página de projetos */
.projeto-page {
    padding: 2rem;
    text-align: center;
    min-height: 50vh; /* Garante uma altura mínima */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projeto-page h2 {
    margin-bottom: 1rem;
}

.projeto-page p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    max-width: 800px; /* Limita a largura do texto */
}

.projeto-page img {
    max-width: 300px; /* Ajuste conforme necessário */
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/* Ajustes Responsivos */
@media (max-width: 768px) {
    .projeto-page {
        padding: 1rem;
    }

    .projeto-page p {
        font-size: 1rem;
    }

    .projeto-page img {
        max-width: 200px;
    }
}
