/* Estilos Gerais */
body {
    font-family: 'Role Model', sans-serif; /* Fonte para o corpo do texto */
    margin: 0;
    padding: 0;
    background-color: #F5EBDF;
    color: #384538; /* Verde Pine */
    line-height: 1.6;
    overflow-x: hidden; /* Impede a rolagem horizontal */
}

/* Container principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Adicionado padding para telas menores */
}

/* Header */
header {
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo transparente */
    padding: 20px 0;
    z-index: 1000;
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

header .navbar-brand {
    font-family: 'Nixie One', cursive; /* Fonte para o título */
    font-size: 1.8em;
    font-weight: bold;
    color: #384538; /* Verde Pine */
    text-decoration: none; /* Remove underline do link */
}

header .navbar-nav .nav-link {
    color: #384538; /* Verde Pine */
    font-size: 1.1em;
    padding: 0 15px;
    transition: color 0.3s ease; /* Transição de cor suave */
}

header .navbar-nav .nav-link:hover {
    color: #749297;
}

header .navbar-nav .nav-item .dropdown-menu {
    background-color: #F5EBDF;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

header .navbar-nav .nav-item .dropdown-item {
    color: #384538; /* Verde Pine */
}

header .navbar-nav .nav-item .dropdown-item:hover {
   background-color: #b3d9d9;
   color: #384538; /* Verde Pine */
}

/* Estilos para o Header */
.custom-navbar {
    background-color: rgba(255, 255, 255, 0.9); /* Fundo mais opaco */
    backdrop-filter: blur(5px); /* Ajuste no desfoque */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra mais pronunciada */
    padding: 15px 0; /* Reduzindo um pouco o padding */
}

.nav-link-effect {
    position: relative;
    padding-bottom: 3px; /* Espaço para a linha */
}

.nav-link-effect::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; /* Espessura da linha */
    background-color: #749297;
    transition: width 0.3s ease; /* Transição suave */
}

.nav-link-effect:hover::before {
    width: 100%; /* Animação da linha */
}

/* Banners */
.banner {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; /* Evita que conteúdo ultrapasse o banner */
}

/* Banner 1 */
.banner-1 {
    height: 80vh; /* Reduz a altura para um layout mais equilibrado */
    background-image: url('img/ana-furtado-banner1.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Para o posicionamento absoluto da overlay */
}
.banner-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
/* Texto sobreposto no Banner 1 */
.banner-text-overlay {
    text-align: center;
    color: #F5EBDF; /* Branco */
    position: relative;
    z-index: 1;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra no texto */
}
/* Título do Banner 1 */
.banner-text {
    font-family: 'Nixie One', cursive; /* Fonte para o título */
    font-style: italic;
    font-size: 5em;
    margin: 0;
    text-transform: lowercase;
    letter-spacing: 2px;
}

/* Banner 2 */
.banner-2 {
    background-color: #F5EBDF;
    padding: 80px 0;
    height: auto;
    color: #384538; /* Verde Pine */
}
.banner-2 .banner-text-2 {
    font-family: 'Role Model', sans-serif; /* Fonte para o corpo do texto */
    font-style: italic;
    font-size: 1.8em;
    line-height: 1.4;
    color: #F5EBDF; /* Branco */
}
.banner-2 .banner-image-container {
    display: flex;
    justify-content: flex-end;
}

.banner-2 .banner-image {
    width: 100%;
    max-width: 400px;
    display: block;
    border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para a Sombra da Imagem */
.image-shadow {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
}

/* Banner 3 */
.banner-3 {
    background-image: url('img/banner3-bg.jpg');
    background-size: cover;
    padding: 80px 0;
    color: #F5EBDF; /* Branco */
    background-position: top center;
    position: relative; /* Para o posicionamento absoluto da overlay */
}
.banner-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Overlay escura */
}
.banner-3 .bio-text {
  font-family: 'Role Model', sans-serif; /* Fonte para o corpo do texto */
  font-size: 1.1em;
    padding: 20px;
    text-align: justify;
    line-height: 1.8;
    position: relative; /* Para ficar acima da overlay */
    z-index: 1; /* Para ficar acima da overlay */
}
.banner-3 .bio-text p {
  margin-bottom: 15px;
}

/* Banner 4 */
.banner-4 {
    padding: 80px 0;
    background-color: #F5EBDF;
    color: #384538; /* Verde Pine */
}
.banner-4 h2 {
     font-family: 'Nixie One', cursive; /* Fonte para o título */
    font-size: 2.5em;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 1px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon-item {
    width: 80px;
    height: auto;
    margin: 0 15px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.icon-item:hover {
    filter: grayscale(0%);
}

/* Estilos para o Efeito de Zoom nos Ícones */
.icon-zoom {
    transition: transform 0.3s ease; /* Transição suave */
}

.icon-zoom:hover {
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
}

/* Páginas de Projetos */
.project-page {
    padding: 80px 0;
    text-align: center;
}
.project-page h2 {
     font-family: 'Nixie One', cursive; /* Fonte para o título */
    font-size: 2.8em;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #384538; /* Verde Pine */
}

.project-page p {
    font-family: 'Role Model', sans-serif; /* Fonte para o corpo do texto */
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #384538; /* Verde Pine */
}

.project-page .em-construcao {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.project-page .em-construcao img {
    width: 50px;
    margin-left: 10px;
}

/* Galeria de Conteúdo */
.gallery {
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.gallery img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.gallery img:hover {
    transform: scale(1.05);
}

/* Rodapé */
.footer {
    background-color: #4A372F; /* Castanho Chestnut */
    color: #F5EBDF; /* Branco */
    padding: 40px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons {
    margin-bottom: 20px;
}

/* Estilos para os Ícones de Redes Sociais */
.social-icon {
    color: #F5EBDF; /* Branco */
    transition: color 0.3s ease; /* Transição de cor suave */
    margin: 0 10px;
    font-size: 1.5em;
}

.social-icon:hover {
    color: #b3d9d9; /* Cor ao passar o mouse */
}

.footer-form {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.footer-form input,
.footer-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: #F5EBDF;
    color: #384538; /* Verde Pine */
    font-family: 'Role Model', sans-serif; /* Fonte para o corpo do texto */
}

.footer-form textarea {
    resize: vertical;
    height: 120px;
}

.footer-form button {
    background-color: #384538; /* Verde Pine */
    color: #F5EBDF; /* Branco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Role Model', sans-serif; /* Fonte para o corpo do texto */
}

.footer-form button:hover {
    background-color: #749297;
}

.footer-copy {
    font-size: 0.9em;
    font-family: 'Role Model', sans-serif; /* Fonte para o corpo do texto */
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .banner-2 .banner-text-2 {
        font-size: 1.4em;
    }
    .banner-2 .banner-image {
        max-width: 300px;
    }
    .icon-container {
        flex-wrap: wrap;
    }
    .icon-item {
        width: 60px;
        margin: 10px;
    }
}
